.layout-topbar {
    position: fixed;
    height: var(--topbar-height);
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--surface-card);
    border-bottom: 1px solid var(--surface-border);
    transition: left $transitionDuration;
}

.layout-topbar .layout-topbar-button {
    cursor: pointer;
    transition: background-color $transitionDuration;
    &:focus {
        @include focused();
    }
}

.layout-topbar .topbar-logo {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.layout-topbar .topbar-logo-text {
    letter-spacing: 0.04em;
}
.layout-topbar .topbar-hostname {
    color: var(--text-color-secondary);
}
.layout-topbar .topbar-icon {
    text-decoration: none;
    transition: background-color $transitionDuration;
}
