<div class="layout-topbar">
    <a routerLink="/" class="topbar-logo">
        <span class="topbar-logo-text">AxeOS</span>
    </a>

    <ng-container *ngIf="info$ | async as info">
        <span class="topbar-hostname" pTooltip="Hostname" tooltipPosition="bottom">{{ info.hostname }}</span>

        <ul *ngIf="!isAPMode" class="topbar-actions">
            <li>
                <a class="topbar-icon" pTooltip="Sensitive data {{ sensitiveDataHidden ? 'hidden' : 'visible' }}" tooltipPosition="bottom" (click)="toggleSensitiveData()">
                    <i class="pi pi-{{ sensitiveDataHidden ? 'eye-slash' : 'eye' }}"></i>
                </a>
            </li>
            <li>
                <a routerLink="network" class="topbar-icon" pTooltip="Wi-Fi RSSI: {{ info.wifiRSSI }} dBm" tooltipPosition="bottom">
                    <wifi-icon [rssi]="info.wifiRSSI"></wifi-icon>
                </a>
            </li>
            <li>
                <a class="topbar-icon" pTooltip="Restart" tooltipPosition="bottom" (click)="restart()">
                    <i class="pi pi-refresh"></i>
                </a>
            </li>
        </ul>
    </ng-container>

    <button *ngIf="!isAPMode" #menubutton class="p-link layout-topbar-button"
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
</div>