<div class="page" [class.sidebar-open]="layoutService.state.staticMenuMobileActive">
  <app-topbar [isAPMode]="isAPMode"></app-topbar>
  <app-sidebar *ngIf="!isAPMode"></app-sidebar>

  <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="layout-mask" *ngIf="layoutService.state.staticMenuMobileActive" (click)="layoutService.onMenuToggle()"></div>
  <app-loading></app-loading>
</div>
